@page "/perfil/security"
@layout Profile.LayoutProfile.ProfileLayout

<h3 class="text-center">Altere a senha</h3>
<SectionContent SectionName="Top">
	<a href="/perfil/security">Altere senha</a>
</SectionContent>
@code {

}
