@inherits LayoutComponentBase
@layout Layout.MainLayout

<div class="container text-center mb-5 ">
    <div class="row align-items-start">
        <div class="col">
            <a class="btn btn-primary" href="/perfil">Dados Usuário</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="/perfil/security">Segurança</a>
        </div>
        <div class="col">
            <a class="btn btn-primary">Privacidade</a>
        </div>
    </div>
</div>


<div>
	@Body
</div>


@code {

}
