@page "/component"

<h3>Component</h3>
<div class="d-flex p-2 gap-5">
	<BootstrapCard title="Notícia 1" paragraph="Opsion adolor lorem ipsum lorem" />
	<BootstrapCard title="Notícia 2" paragraph="Lorem ipsum lorem adolor opsion" />
</div>



@code {

}
