@page "/separation"

<h3>Separation</h3>

<p>@DateTime.Now</p>

<style>
	p{
		color: purple;
	}
</style>

@code {
	/*
		Razor (Engine Template - ASP.NET): HTML5 + CSS3 + C# + JS

		Blazor: .razor (Componentes Blazor)
		ASP.NET .cshtml (MVC & Razor Pages): 
	 */
}
